{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-7 pb-5 text-center">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.Lead | safeHTML }}</p>
  </div>
    <form id="adoption-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="address">Street Address</label>
        <input type="text" class="form-control" id="address" placeholder="Street Address">
      </div>
      <p>
        Select the plants you want to adopt!<br> 
        They are growing in my greenhouse and will be available to you any time in April.<br>
        All seeds from Seedsaver Exchange and are organic (click on name for more plant info).
      </p>
      <div id="placeholder">

      </div>
      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<template id="orphaned-plant">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="adopting-number"><a id="plant-name" target="_blank" href="https://www.seedsavers.org/parade-organic-cucumber">Parade Cucumber</a></label>
    </div>
    <select class="custom-select" id="adopting-number">
      <option selected value="0">0</option>
    </select>
  </div>
</template>
{{ end }}

{{ define "section" }}
<section class="section container-fluid">
  {{- .Content -}}
</section>
{{ end }}
