{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-7 pb-5 text-center">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.Lead | safeHTML }}</p>
  </div>
    <form id="adoption-form">
      <div class="form-group">
        <label for="adopter">Name</label>
        <input type="text" class="form-control" id="adopter" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="adopter-email">Email address</label>
        <input type="email" class="form-control" id="adopter-email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="address">Street Address</label>
        <input type="text" class="form-control" id="address" placeholder="Street Address">
      </div>
      <p>
        Please select the number of plants you want to adopt! Availability will update after each request. 
        The dates provided are when the plants are ready to leave their greenhouse home.
      </p>
      <p>All seeds from Seedsaver Exchange and are organic; click on name for more plant info.</p>
      <p>
        Once you have submitted your request, I will contact you for pick-up or delivery details.
      </p>
      <div id="placeholder">

      </div>
      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<template id="orphaned-plant">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="adopting-number"><a id="plant-name" target="_blank" href="https://www.seedsavers.org/parade-organic-cucumber">Parade Cucumber</a><span id="availability-placeholder" style="margin-left:.5em;"></span></label>
    </div>
    <select class="custom-select number-wanted" id="adopting-number">
      <option selected value="0">0</option>
    </select>
  </div>
</template>
{{ end }}

{{ define "section" }}
<section class="section container-fluid">
  {{- .Content -}}
</section>
{{ end }}
