{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-7 pb-5 text-center">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.Lead | safeHTML }}</p>
  </div>
    <form id="adoption-form">
      <div class="form-group">
        <label for="adopter">Name</label>
        <input type="text" class="form-control" id="adopter" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="adopter-email">Email address</label>
        <input type="email" class="form-control" id="adopter-email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="address">Street Address</label>
        <input type="text" class="form-control" id="address" placeholder="Street Address">
      </div>
      <p>
        The greenhouse has been nurturing hundreds of seeds, now grown into lovely small plants. This year I've added flowers to the mix! Although I must admit to keeping my painted daisies, lupines, and butterfly weed, there are so many available and ready to add their beauty in your space :)
        
        Please select the number of plants you want to adopt. The inventory will update after each request has been submitted. 
        Plants will continue to be nurtured in the greenhouse for April, and then potted for pick-up during my Plants & Wine party at the end of April.
      </p>
      <p>All seeds are organic from Seedsaver Exchange, Southern Exposure, Sow True Seeds, and Floret Flowers; click on the plant link to know it's seed source.</p>
      <p>
      </p>
      <div id="placeholder">

      </div>
      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<template id="orphaned-plant">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="adopting-number"><a id="plant-name" target="_blank" href="https://www.seedsavers.org/parade-organic-cucumber">Parade Cucumber</a><span id="availability-placeholder" style="margin-left:.5em;"></span></label>
    </div>
    <select class="custom-select number-wanted" id="adopting-number">
      <option selected value="0">0</option>
    </select>
  </div>
</template>
{{ end }}

{{ define "section" }}
<section class="section container-fluid">
  {{- .Content -}}
</section>
{{ end }}
